<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

    <extension
            point="org.eclipse.ui.editors">
        <editor
              class="org.maschinenstuermer.clojure.ui.ClojureExecutableExtensionFactory:org.eclipse.xtext.ui.editor.XtextEditor"
              contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
              default="true"
              extensions="clj"
              icon="icons/clojure.png"
              id="org.maschinenstuermer.clojure.Clojure"
              name="Clojure Editor">
        </editor>
    </extension>
    <extension
        point="org.eclipse.ui.handlers">
        <handler
            class="org.maschinenstuermer.clojure.ui.ClojureExecutableExtensionFactory:org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclarationHandler"
            commandId="org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclaration">
            <activeWhen>
                <reference
                    definitionId="org.maschinenstuermer.clojure.Clojure.Editor.opened">
                </reference>
            </activeWhen>
        </handler>
        <handler
            class="org.maschinenstuermer.clojure.ui.ClojureExecutableExtensionFactory:org.eclipse.xtext.ui.editor.handler.ValidateActionHandler"
            commandId="org.maschinenstuermer.clojure.Clojure.validate">
         <activeWhen>
            <reference
                    definitionId="org.maschinenstuermer.clojure.Clojure.Editor.opened">
            </reference>
         </activeWhen>
      </handler>
    </extension>
    <extension point="org.eclipse.core.expressions.definitions">
        <definition id="org.maschinenstuermer.clojure.Clojure.Editor.opened">
            <and>
                <reference definitionId="isActiveEditorAnInstanceOfXtextEditor"/>
                <with variable="activeEditor">
                    <test property="org.eclipse.xtext.ui.editor.XtextEditor.languageName" 
                        value="org.maschinenstuermer.clojure.Clojure" 
                        forcePluginActivation="true"/>
                </with>        
            </and>
        </definition>
    </extension>
    <extension
            point="org.eclipse.ui.preferencePages">
        <page
            class="org.maschinenstuermer.clojure.ui.ClojureExecutableExtensionFactory:org.eclipse.xtext.ui.editor.preferences.LanguageRootPreferencePage"
            id="org.maschinenstuermer.clojure.Clojure"
            name="Clojure">
            <keywordReference id="org.maschinenstuermer.clojure.ui.keyword_Clojure"/>
        </page>
        <page
            category="org.maschinenstuermer.clojure.Clojure"
            class="org.maschinenstuermer.clojure.ui.ClojureExecutableExtensionFactory:org.eclipse.xtext.ui.editor.syntaxcoloring.SyntaxColoringPreferencePage"
            id="org.maschinenstuermer.clojure.Clojure.coloring"
            name="Syntax Coloring">
            <keywordReference id="org.maschinenstuermer.clojure.ui.keyword_Clojure"/>
        </page>
        <page
            category="org.maschinenstuermer.clojure.Clojure"
            class="org.maschinenstuermer.clojure.ui.ClojureExecutableExtensionFactory:org.eclipse.xtext.ui.editor.templates.XtextTemplatePreferencePage"
            id="org.maschinenstuermer.clojure.Clojure.templates"
            name="Templates">
            <keywordReference id="org.maschinenstuermer.clojure.ui.keyword_Clojure"/>
        </page>
        <page
              category="org.maschinenstuermer.clojure.Clojure"
              class="org.maschinenstuermer.clojure.ui.preference.ClojureInstallPreferencePage"
              id="org.maschinenstuermer.clojure.Clojure.runtimeInstallations"
              name="Runtime Installations">
           <keywordReference
                 id="org.maschinenstuermer.clojure.ui.keyword_Clojure">
           </keywordReference>
        </page>
    </extension>
    <extension
        point="org.eclipse.ui.keywords">
        <keyword
            id="org.maschinenstuermer.clojure.ui.keyword_Clojure"
            label="Clojure"/>
    </extension>
    <extension
         point="org.eclipse.ui.commands">
      <command
            description="Trigger expensive validation"
            id="org.maschinenstuermer.clojure.Clojure.validate"
            name="Validate">
      </command>
    </extension>
    <extension point="org.eclipse.ui.menus">
        <menuContribution
            locationURI="popup:#TextEditorContext?after=group.edit">
             <command
                 commandId="org.maschinenstuermer.clojure.Clojure.validate"
                 style="push"
                 tooltip="Trigger expensive validation">
            <visibleWhen checkEnabled="false">
                <reference
                    definitionId="org.maschinenstuermer.clojure.Clojure.Editor.opened">
                </reference>
            </visibleWhen>
         </command>  
         </menuContribution>
    </extension>
    <extension point="org.eclipse.ui.menus">
		<menuContribution locationURI="popup:#TextEditorContext?endof=group.find">
			<command commandId="org.eclipse.xtext.ui.editor.FindReferences">
				<visibleWhen checkEnabled="false">
                	<reference definitionId="org.maschinenstuermer.clojure.Clojure.Editor.opened">
                	</reference>
            	</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.handlers">
	    <handler
            class="org.maschinenstuermer.clojure.ui.ClojureExecutableExtensionFactory:org.eclipse.xtext.ui.editor.findrefs.FindReferencesHandler"
            commandId="org.eclipse.xtext.ui.editor.FindReferences">
            <activeWhen>
                <reference
                    definitionId="org.maschinenstuermer.clojure.Clojure.Editor.opened">
                </reference>
            </activeWhen>
        </handler>
    </extension>   

<!-- adding resource factories -->

	<extension
		point="org.eclipse.emf.ecore.extension_parser">
		<parser
			class="org.maschinenstuermer.clojure.ui.ClojureExecutableExtensionFactory:org.eclipse.xtext.resource.IResourceFactory"
			type="clj">
		</parser>
	</extension>
	<extension point="org.eclipse.xtext.extension_resourceServiceProvider">
        <resourceServiceProvider
            class="org.maschinenstuermer.clojure.ui.ClojureExecutableExtensionFactory:org.eclipse.xtext.ui.resource.IResourceUIServiceProvider"
            uriExtension="clj">
        </resourceServiceProvider>
    </extension>




	<!-- Quick Outline -->
	<extension
		point="org.eclipse.ui.handlers">
		<handler 
			class="org.maschinenstuermer.clojure.ui.ClojureExecutableExtensionFactory:org.eclipse.xtext.ui.editor.outline.quickoutline.ShowQuickOutlineActionHandler"
			commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline">
			<activeWhen>
				<reference
					definitionId="org.maschinenstuermer.clojure.Clojure.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
	<extension
		point="org.eclipse.ui.commands">
		<command
			description="Open the quick outline."
			id="org.eclipse.xtext.ui.editor.outline.QuickOutline"
			name="Quick Outline">
		</command>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="popup:#TextEditorContext?after=group.open">
			<command commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline"
				style="push"
				tooltip="Open Quick Outline">
				<visibleWhen checkEnabled="false">
					<reference definitionId="org.maschinenstuermer.clojure.Clojure.Editor.opened"/>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
   <!-- quickfix marker resolution generator -->
   <extension
         point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
            class="org.maschinenstuermer.clojure.ui.ClojureExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator">
      </markerResolutionGenerator>
   </extension>
   <!-- new project wizard -->
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="org.eclipse.xtext.projectwiz"
            class="org.maschinenstuermer.clojure.ui.ClojureExecutableExtensionFactory:org.maschinenstuermer.clojure.ui.wizard.ClojureNewProjectWizard"
            icon="icons/clojure.png"
            id="org.maschinenstuermer.clojure.ui.wizard.ClojureNewProjectWizard"
            name="Clojure Project"
            project="true">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.xtext.ui.shared.overridingGuiceModule">
      <module
            class="org.eclipse.xtext.builder.clustering.ClusteringModule">
      </module>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="org.maschinenstuermer.clojure.ClojureReplLaunchConfigurationType"
            icon="icons/clojure-repl.png"
            id="org.maschinenstuermer.clojure.ui.ClojureReplLaunchConfigurationTypeImage">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchGroups">
      <launchGroup
            bannerImage="icons/clojure-repl.png"
            id="org.maschinenstuermer.clojure.ui.ClojureReplLaunchGroup"
            image="icons/clojure-repl.png"
            label="Clojure REPL"
            mode="run">
      </launchGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="org.maschinenstuermer.clojure.ui.repl.ClojureLaunchConfigurationTabGroup"
            id="org.maschinenstuermer.clojure.ui.ClojureReplLaunchConfigurationTabGroup"
            type="org.maschinenstuermer.clojure.ClojureReplLaunchConfigurationType">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.ui.console.consoleFactories">
      <consoleFactory
            class="org.maschinenstuermer.clojure.ui.console.ClojureReplConsoleFactory"
            icon="icons/clojure-repl.png"
            label="Clojure REPL">
      </consoleFactory>
   </extension>
   <extension
         point="org.eclipse.ui.console.consolePageParticipants">
      <consolePageParticipant
            class="org.maschinenstuermer.clojure.ui.console.ClojureConsolePageParticipant"
            id="org.maschinenstuermer.clojure.ui.ClojureConsolePageParticipant">
         <enablement>
            <instanceof
                  value="org.maschinenstuermer.clojure.ui.console.ClojureConsole">
            </instanceof></enablement>
      </consolePageParticipant>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.maschinenstuermer.clojure.ui.ClojureReplPerspectiveFactory"
            icon="icons/clojure-repl.png"
            id="org.maschinenstuermer.clojure.ui.ClojurePerspective"
            name="Clojure REPL">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.maschinenstuermer.clojure.ui.handler.CopySelectionToReplHandler"
            commandId="org.maschinenstuermer.clojure.ui.CopySelectionToReplHandler">
         <enabledWhen>
            <with
                  variable="selection">
               <adapt
                     type="org.eclipse.jface.text.ITextSelection">
                  <test
                        property="org.maschinenstuermer.clojure.ui.textSelection.notEmpty">
                  </test>
               </adapt>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="org.maschinenstuermer.clojure.ui.handler.LoadFileInReplHandler"
            commandId="org.maschinenstuermer.clojure.ui.LoadFileInReplHandler">
      </handler>
      <handler
            class="org.maschinenstuermer.clojure.ui.handler.EvaluateSelectionInReplHandler"
            commandId="org.maschinenstuermer.clojure.ui.handler.EvaluateSelectionInRepl">
         <enabledWhen>
            <with
                  variable="selection">
               <adapt
                     type="org.eclipse.jface.text.ITextSelection">
                  <test
                        property="org.maschinenstuermer.clojure.ui.textSelection.notEmpty">
                  </test>
               </adapt>
            </with>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.maschinenstuermer.clojure.ui.CopySelectionToReplHandler"
            name="Copy Selection to REPL">
      </command>
      <command
            id="org.maschinenstuermer.clojure.ui.LoadFileInReplHandler"
            name="Load File in REPL">
      </command>
      <command
            id="org.maschinenstuermer.clojure.ui.handler.EvaluateSelectionInRepl"
            name="Eval in REPL">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:#TextEditorContext?before=group.edit">
         <command
               commandId="org.maschinenstuermer.clojure.ui.CopySelectionToReplHandler"
               style="push">
         </command>
         <command
               commandId="org.maschinenstuermer.clojure.ui.LoadFileInReplHandler"
               style="push">
         </command>
         <command
               commandId="org.maschinenstuermer.clojure.ui.handler.EvaluateSelectionInRepl"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.maschinenstuermer.clojure.ui.TextSelectionPropertyTester"
            id="org.maschinenstuermer.clojure.ui.TextSelectionPropertyTester"
            namespace="org.maschinenstuermer.clojure.ui.textSelection"
            properties="notEmpty"
            type="org.eclipse.jface.text.ITextSelection">
      </propertyTester>
   </extension>  
</plugin>
