<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.dltk.core.language">
      <language
            class="org.anachronos.clojure.ui.ClojureLanguageToolkit"
            nature="org.anachronos.clojure.core.nature"
            priority="0">
      </language>
   </extension>
   <extension
         point="org.eclipse.dltk.ui.language">
      <language
            class="org.anachronos.clojure.ui.ClojureUILanguageToolkit"
            nature="org.anachronos.clojure.core.nature"
            priority="0">
      </language>
   </extension>
   <extension
         point="org.eclipse.dltk.launching.interpreterInstallTypes">
      <interpreterInstallType
            class="org.anachronos.clojure.ui.launching.ClojureInterpreterInstallType"
            id="org.anachronos.clojure.ui.interpreterInstallType">
      </interpreterInstallType>
   </extension>
   <extension
         point="org.eclipse.dltk.console.scriptInterpreter">
      <scriptInterpreter
            class="org.anachronos.clojure.ui.launching.ClojureScriptInterpreter"
            natureID="org.anachronos.clojure.core.nature">
      </scriptInterpreter>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="org.anachronos.clojure.ui.category"
            class="org.eclipse.dltk.ui.wizards.GenericDLTKProjectWizard:org.anachronos.clojure.core.nature"
            id="org.anachronos.clojure.ui.wizard"
            name="New Clojure Project"
            project="true">
      </wizard>
      <category
            id="org.anachronos.clojure.ui.category"
            name="Clojure">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.anachronos.clojure.ui.preferences.ClojurePreferencePage"
            id="org.anchronos.clojure.ui.preferences.clojure"
            name="Clojure">
      </page>
      <page
            category="org.anchronos.clojure.ui.preferences.clojure"
            class="org.anachronos.clojure.ui.preferences.ClojureInterpreterPreferencePage"
            id="org.anachronos.clojure.ui.preferences.interpreters"
            name="Interpreters">
      </page>
      <page
            category="org.anchronos.clojure.ui.preferences.clojure"
            class="org.anachronos.clojure.ui.preferences.ClojureEditorPreferencePage"
            id="org.anachronos.clojure.ui.editor"
            name="Editor">
      </page>
      <page
            category="org.anachronos.clojure.ui.editor"
            class="org.anachronos.clojure.ui.preferences.ClojureSyntaxColoringPreferencePage"
            id="org.anachronos.clojure.ui.page1"
            name="Syntax Coloring">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.console.consoleFactories">
      <consoleFactory
            class="org.anachronos.clojure.ui.console.ClojureConsoleFactory"
            label="Clojure Console">
      </consoleFactory>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.anachronos.clojure.ui.editor.ClojureEditor"
            default="false"
            icon="icons/clojure.png"
            id="org.anachronos.clojure.ui.editor"
            name="Clojure Editor">
         <contentTypeBinding
               contentTypeId="org.anachronos.clojure.ui.content-type">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.anachronos.clojure.ui.ClojurePerspective"
            id="org.anachronos.clojure.ui.perspective"
            name="Clojure Perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.core.filebuffers.documentSetup">
      <participant
            class="org.anachronos.clojure.ui.editor.ClojureDocumentSetupParticipant">
      </participant>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.anachronos.clojure.ui.preferences.ClojureUIPreferenceInitializer">
      </initializer>
   </extension>

</plugin>
